.page-historial {
   background-color: $color-background;
   height: 88vh;
   display: flex; 
   flex-direction: column;
   padding-top: 8rem;
   padding-left: 10rem;
   padding-right: 10rem;
} 
.page-historial__title{
   text-align: center;
   padding-bottom: 2rem;
}
.page-historial__horizontal-boxes{
   @include small-box;
   background-color: $color-box;
   align-items: center;
}