.input-default {
    width: 100%;
    padding: 1.2rem 2rem;
    margin: .8rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;   
    background-color: $color-input; 
    font-family: $font-primary; 
}  

.button-default {
    background-color: $color-secondary;  
    border: none;
    color: white;
    padding: 1.5rem 3.2rem; 
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 1.6rem; 
    border-radius: 4px;
    font-family: $font-primary;  
    cursor: pointer;  
    transition: all .3s;
 

    &:hover {
        background-color: $color-secondary-light; 
    }
}