.page-home {
   @include meseroBackground 
    //align-items: center;
}; 
.client-name__input-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    background-color: transparent;
    margin: 2rem 3rem; 
    padding: 2rem; 
}
.left-column{
   @include columnsMesero
}
.right-column{
    @include columnsMesero
}
