.page-login {
    background-color: $color-background;
    // height:100%;
    height: 100vh; /*cambio*/
    display: flex;  
    justify-content: center;  
    padding-top: 8rem;
    //align-items: center;
}; 
