.login-form {

    width: 100%;
    max-width: 50rem;
    background-color: transparent;
    margin: 2rem 3rem; 
    padding: 2rem; 

    height: min-content;

    &__title { 
        text-align: center;  
        margin-bottom: 2rem;
        font-size: 5.5rem;
        color: $color-primary;
        font-family: $font-secondary;

    }

    &__form {
        display: flex; 
        flex-direction: column; 
        text-align-last: center;
 
        &__input-group { 
            margin-bottom: 2rem;
        }

    }
}